<header>
  <div class="wrap nav">
    <a class="btn primary" href="/">Hermeticum B.C.E.</a>
    <a class="btn" href="/create/">Create</a>
    <a class="btn" href="/verify/">Verify</a>
    <a class="btn" href="/evidence-pack/">Evidence</a>
    <a class="btn" href="/map/">Map</a>
    <a class="btn" href="/tech/">Tech</a>
    <span class="spacer"></span>
    <a class="btn" href="https://manuelcoletta1-source.github.io/hermeticum-bce-b2b/">B2B</a>
    <a class="btn" href="https://manuelcoletta1-source.github.io/hermeticum-bce-b2g/">B2G</a>
  </div>
</header>
